{% load i18n %}
<section class="bg-scroll hero-section division m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title center">
                <h2 class="h2-xs mb-5"><strong>
                    {% if message == "We're sorry. Unfortunately we cannot process your case" %}
                    {% trans "We're sorry. Unfortunately we cannot process your case" %}
                    {% elif message == "You have successfully confirmed complainant" %}
                    {% trans "You have successfully confirmed complainant" %}
                    {% elif message == "Thanks for your Data! We will work on it shortly!" %}
                    {% trans "Thanks for your Data! We will work on it shortly!" %}
                    {% endif %}
                </strong></h2>
            </div>
        </div>
    </div>
</section>