<section class="bg-scroll hero-section division m-5">
    <div class="container">
        <div class="row">

                <div class="col-md-12 section-title center">
                    <form id="step3Form">
                        {% csrf_token %}
                        <h4 class="h2-xs mb-2"><strong>Enter Verification Code Now</strong></h4>
                        <p class="mb-3">Please enter Verification Code:</p>
                        <input type="hidden" class="form-control" name="pk" value="{{ data.id }}" required>
                        <input type="text" class="form-control" name="code" placeholder="Enter Verification Code*" required>
                        <button class="btn btn-danger bg-danger col-lg-4">CONFIRM CODE NOW</button>
                    </form>
                </div>

        </div>
    </div>
</section>

{% block script %}
<script>
    $(document).ready(function(){
        $('#step3Form').on('submit', (e) => {
            e.preventDefault();
            const formData = $('#step3Form').serialize();
            $.ajax({
                type: 'POST',
                url: 'step3/',
                data: formData,
                success: (result) => {
                    $('#base-body').empty().append(result);
                }
            });

        });

    });
</script>
{% endblock %}