{% extends 'frontend/base/index.html' %}
{% load i18n %}
{% block body %}
{% load static %}
<!-- HERO-3
============================================= -->
<section id="hero-3" class="bg-scroll hero-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- HERO TEXT -->
            <div class="col-lg-7 col-xl-7">
                <div class="hero-3-txt mb-40">


                    <!-- Title -->
                    <h2 class="darkblue-color">{% trans "Your complaint within 24 hours" %}</h2>

                    <!-- Text Box #1 -->
                    <p><strong>{% trans "If you as an asylum seeker do not receive a decision from the BFA from the application for international protection under the AsylumG, you have the right to a default complaint." %}</strong></p>


                </div>
            </div>	<!-- END HERO TEXT -->


            <!-- HERO REQUEST FORM -->
            <div class="col-lg-5 col-xl-5">
                <div id="hero-form" class="text-center mb-40">
                    <form id="submitComplaintForm" class="row hero-request-form bg-darkblue">
                        {% csrf_token %}
                         <!-- Request Form Text -->
                        <div class="col-md-12 white-color">
                            <h5 class="h5-lg">{% trans "Submit Free Late Payment Complaint Now" %}</h5>
                        </div>

                        <!-- Request Form Input -->
                        <div id="input-name" class="col-md-12">
                            <input type="text" name="name" class="form-control name" placeholder="{% trans 'Enter Your Name*' %}" required>
                        </div>

                        <!-- Request Form Input -->
                        <div id="input-phone-prefix" class="col-md-12">
                            <select class="form-control select custom-select"  name="prefix" required>
                                <option value="+43676">+43676</option>
                                <option value="+43699">+43699</option>
                                <option value="+43660">+43660</option>
                                <option value="+43664">+43664</option>
                            </select>
                        </div>

                        <!-- Request Form Input -->
                        <div id="input-phone" class="col-md-12">
                            <input type="tel" name="phone" class="form-control phone" placeholder="{% trans 'Enter Your Telephone Number*' %}" required>
                        </div>

                        <!-- Request Form Button -->
                        <div class="col-md-12 form-btn">
                            <button type="submit" class="btn btn-primary tra-white-hover submit">{% trans 'Send Request' %}</button>
                        </div>

                        <!-- Request Form Message -->
                        <div class="col-md-12 text-center mt-3">
                            <div><span hidden class="text-white loading"></span></div>
                        </div>
                    </form>
                </div>
            </div>	<!-- END HERO REQUEST FORM -->


        </div>     <!-- End row -->
    </div>     <!-- End container -->
</section>	<!-- END HERO-3 -->




<!-- CALL TO ACTION-3
============================================= -->
<section id="cta-3" class="bg-darkblue cta-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">


            <!-- CALL TO ACTION TEXT -->
            <div class="col-lg-12">
                <div class="cta-txt text-center">
                    <h4 class="h4-xs txt-400">{% trans 'You have further questions' %} <a href="mailto:hello@asylcheck24.at">{% trans 'Send your request' %}</a> {% trans 'for free advice!' %}</h4>
                </div>
            </div>


        </div>	  <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END CALL TO ACTION-3 -->




<!-- SERVICES-4
============================================= -->
<section id="services-4" class="wide-70 services-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-md-12 section-title center">

                <!-- Title -->
                <h2 class="h2-xs darkblue-color"><strong>{% trans 'Our approach' %}</strong></h2>

                <!-- Text -->
                <p class="p-md">{% trans 'For you, we offer a service that you can use to bring a complaint online.' %}</p>

            </div>
        </div>


        <div class="row">


            <!-- SERVICE BOX #1 -->
            <div class="col-md-6 col-lg-4">
                <div class="sbox-4 icon-sm">
                    <a href="visa-details.html">

                        <!-- Icon -->
                        <div class="sbox-4-icon primary-color"><span class="flaticon-174-pencil"></span></div>

                        <!-- Text -->
                        <div class="sbox-4-txt">
                            <h5 class="h5-md darkblue-color">{% trans 'Enter Details' %}</h5>
                            <p>{% trans 'To file your default complaint, we only need your first and last name, your mobile phone number and a photo of your asylum ID. We check free of charge whether our lawyers can file a default complaint.' %}</p>
                        </div>

                    </a>
                </div>
            </div>


            <!-- SERVICE BOX #2 -->
            <div class="col-md-6 col-lg-4">
                <div class="sbox-4 icon-sm">
                    <a href="visa-details.html">

                        <!-- Icon -->
                        <div class="sbox-4-icon primary-color"><span class="flaticon-032-user-3"></span></div>

                        <!-- Text -->
                        <div class="sbox-4-txt">
                            <h5 class="h5-md darkblue-color">{% trans 'Commission Legal Experts Free of Charge' %}</h5>
                            <p>{% trans 'If you instruct us, we will file your default complaint in an average of less than 24 hours. You will always be informed about the course. You will not incur any costs.' %}</p>
                        </div>

                    </a>
                </div>
            </div>


            <!-- SERVICE BOX #3 -->
            <div class="col-md-6 col-lg-4">
                <div class="sbox-4 icon-sm">
                    <a href="visa-details.html">

                        <!-- Icon -->
                        <div class="sbox-4-icon primary-color"><span class="flaticon-220-smartphone"></span></div>

                        <!-- Text -->
                        <div class="sbox-4-txt">
                            <h5 class="h5-md darkblue-color">{% trans 'You will Receive a Notification within 3 Months' %}</h5>
                            <p>{% trans 'From the complaint, the BFA is obliged to issue a decision within 3 months. This is how you get your right. ' %}
                            </p>
                        </div>

                    </a>
                </div>
            </div>

        </div>    <!-- End row -->
    </div>     <!-- End container -->
</section>	<!-- END SERVICES-4 -->




<!-- HORIZONTAL GREY LINE -->
<div class="section-divider"><div class="container"><div class="row"><div class="grey-border"></div></div></div></div>




<!-- ABOUT-2
============================================= -->
<section id="about-2" class="wide-60 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- ABOUT IMAGE -->
            <div class="col-md-6">
                <div class="about-img text-center mb-40">

                    <!-- Image -->
                    <img class="img-fluid" src="{% static 'images/lawyer.jpg' %}" alt="about-image" />

                </div>
            </div>


            <!-- ABOUT TEXT	-->
            <div class="col-md-6">
                <div class="about-2-txt pc-20 mb-40">


                    <!-- Section ID -->
                    <span class="section-id id-color">{% trans 'WE SUPPORT YOU' %}</span>

                    <!-- Title -->
                    <h3 class="h3-lg darkblue-color">{% trans 'Our lawyers for your right' %}</h3>


                    <p>{% trans 'Unfortunately, the BFA regularly does not comply with the statutory obligation to issue the notification within 6 months. With asylcheck24.at we submit this complaint for you by a lawyer admitted in Austria. Submission is free of charge for you. The Republic of Austria pays the costs for the intervention.' %}</p>

                </div>
            </div>	<!-- END ABOUT TEXT	-->


        </div>	  <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END ABOUT-2 -->




<!-- ABOUT-4
============================================= -->
<section id="about-4" class="bg-lightgrey bg-tra-city pt-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- ABOUT TEXT -->
            <div class="col-lg-7 col-xl-6">
                <div class="about-4-txt mb-40">

                    <!-- Title -->
                    <h3 class="h3-lg darkblue-color">{% trans 'YOUR CERTIFICATE WITHIN 8 WEEKS' %}</h3>

                    <!-- Text #1 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>{% trans 'The Federal Administrative Court may grant the default complaint, determine the violation of the obligation to make decisions on the part of the Federal Office for Foreign Affairs and Asylum and in accordance with Section 28 (7) 1. Case VwGVG to decide for itself.' %}</p>
                    </div>

                    <!-- Text #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>{% trans 'The Federal Administrative Court may grant the default complaint, determine the violation of the obligation to make decisions on the part of the Federal Office for Foreign Affairs and Asylum and the defaulting authority in accordance with Section 28 (7) 2. Case VwGVG to issue the missed decision within 8 weeks.' %}</p>
                    </div>

                    <!-- Button -->
                    <a href="tel:123456789" class="btn btn-md btn-primary black-hover">
                        {% trans 'SUBMIT A COMPLAINT NOW.' %}
                    </a>

                </div>
            </div> <!-- END ABOUT TEXT -->


            <!-- SERVICES IMAGE -->
            <div class="col-lg-5 col-xl-5 offset-xl-1">
                <div class="about-4-img text-center">
                    <img class="img-fluid" src="{% static 'images/bvwg.jpg' %}" alt="about-image" />
                </div>
            </div>


        </div>    <!-- End row -->
    </div>     <!-- End container -->
</section>	<!-- END ABOUT-4 -->





<!-- FAQs-1
============================================= -->
<section id="faqs-1" class="wide-100 faqs-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-md-12 section-title center">

                <!-- Title -->
                <h2 class="h2-xs darkblue-color">{% trans 'Do you have any questions ? Look here.' %}</h2>
                <p>Due to the complaint about late payment, the BFA has a period of 3 months in which the decision must be made up for. In many cases this will ensure that you receive your decision within this period. In some cases this is not possible either, for example because you have not yet had an interview or are still waiting for important documents. In these cases, the BFA will submit the complaint about late payment to the Federal Administrative Court so that the latter can decide. The Federal Administrative Court can grant the complaint about late payment or reject you, but you can also decide on asylum immediately.
Due to the computer-based information collection and forwarding to the lawyers, the complaints about default can be created very quickly.
Storing your cell phone number ensures that you are informed quickly and reliably about every step.
We assume the costs of the lawyers for you.</p>
            </div>
        </div>	 <!-- END SECTION TITLE -->


        <!-- QUESTIONS HOLDER -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div id="accordion" role="tablist">


                    <!-- QUESTION #1 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="h5-sm darkblue-color">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                    <span>1.</span> {% trans 'What data do you need from me?' %}
                                </a>
                             </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                <!-- INFO BOX #1 -->
                                <div class="box-list">
                                    <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                                    <p>{% trans 'First Name, Last Name, Date of Birth, Mobile Number, White Card.' %}
                                    </p>
                                </div>

                            </div>
                        </div>


                    </div>	<!-- END QUESTION #1 -->


                    <!-- QUESTION #2 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="h5-sm darkblue-color">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>2.</span> {% trans 'What costs can arise?' %}
                                </a>
                             </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                <p>{% trans 'I would give away' %}
                                </p>

                             </div>
                        </div>

                    </div>	<!-- END QUESTION #2 -->


                    <!-- QUESTION #3 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="h5-sm darkblue-color">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    <span>3.</span> {% trans 'Who pays the Lawyer?' %}
                                </a>
                             </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">

                                <!-- Text -->
                                <p>{% trans 'We will cover the costs of the lawyer for you. If the default complaint is successful, we will try to recover the costs of the default complaint from the state on your behalf.' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="h5-sm darkblue-color">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    <span>4.</span> {% trans 'How long will it take?' %}
                                </a>
                             </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">

                                <!-- Text -->
                                <p>{% trans 'We cannot guarantee that. The law sets deadlines, but experience has shown that these are often not met. Even after the complaint about late payment has been filed, it can be weeks or months before you receive a decision.' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="h5-sm darkblue-color">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    <span>5.</span> {% trans 'Do I face disadvantages in the asylum procedure if I file a complaint about late payment?' %}
                                </a>
                             </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">

                                <!-- Text -->
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>	<!-- END ACCORDION -->
            </div>  <!-- End col-x -->
        </div>	<!-- END QUESTIONS HOLDER -->


        <!-- MORE QUESTIONS BUTTON -->
        <div class="row">
            <div class="col-md-12 text-center more-questions">
                <h5 class="h5-md">{% trans 'You have further questions?' %} <a href="mailto:hello@asylcheck24.at" class="darkblue-color">{% trans 'Send us your request' %} </a> {% trans 'for free advice.' %}</h5>
            </div>
        </div>


    </div>	   <!-- End container -->
</section>	<!-- END FAQs-1 -->




<!-- TESTIMONIALS-1
============================================= -->
<section id="reviews-1" class="bg-tra-city bg-lightgrey wide-100 reviews-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-md-12 section-title center">

                <!-- Title -->
                <h2 class="h2-xs darkblue-color">{% trans 'Our approach' %}</h2>

                <!-- Text -->
                <p class="p-md">
                    {% trans 'For you, we offer a service that you can use to bring a complaint online.' %}
                </p>

            </div>
        </div>	 <!-- END SECTION TITLE -->


        <!-- TESTIMONIALS CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme reviews-holder">


                    <!-- TESTIMONIAL #1 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-1.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Robert</h5>
                                <span>(UK Business Visa)</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>Sagittis congue etiam sapien at velna accumsan suscipit egestas at lobortis magna, a
                           porttitor sodales an aenean mauris tempor aenean cubilia blandit porta justo integer
                           velna vitae auctor integer a congue magna sapien gravida donec ultrice ligula risus
                        </p>

                    </div>


                    <!-- TESTIMONIAL #2 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-2.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Evelyn W.</h5>
                                <span>{% trans '(Canada Studients Visa)' %}</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>Sapien sem accumsan vitae at purus diam integer congue magna sodales. Magna vitae and aenean
                           mauris tempor augue in cubilia laoreet magna suscipit magna ipsum vitae purus ipsum primis
                           cubilia laoreet and augue ultrice ligula egestas magna suscipit lectus gestas at magna viverra
                           dolor neque gravida
                        </p>

                    </div>


                    <!-- TESTIMONIAL #3 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-3.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Leslie Serpas</h5>
                                <span>{% trans '(Singapore PR Visa)' %}</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>Etiam sapien gravida and donec sagittis congue. Augue cubilia laoreet at magna suscipit egestas
                           magna an ipsum vitae and purus ipsum primis undo cubilia laoreet augue ultrice ligula and egestas
                           suscipit  magna lectus gestas magna as viverra neque est gravida
                        </p>

                    </div>


                    <!-- TESTIMONIAL #4 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-4.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Dan Hodges</h5>
                                <span>{% trans '(USA Studients Visa)' %}</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>An augue in cubilia laoreet undo magna suscipit egestas magna ipsum egestas vitae purus ipsum
                           primis cubilia laoreet augue ultrice ligula egestas and magna suscipit lectus gestas magna a
                           viverra dolor neque est gravida
                        </p>

                    </div>


                    <!-- TESTIMONIAL #5 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-5.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Amelie Peterson</h5>
                                <span>{% trans '(France Working Visa)' %}</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>An orci nullam tempor sapien, gravida donec enim ipsum a porta. An augue in cubilia laoreet
                           magna suscipit egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue ultrice
                           at ligula egestas magna suscipit lectus gestas magna viverra dolor neque est gravida justo
                           integer and velna auctor
                        </p>

                    </div>


                    <!-- TESTIMONIAL #6 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-6.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Scott Boxer</h5>
                                <span>{% trans '(Germany Travel Visa)' %}</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>An augue cubilia laoreet magna suscipit egestas magna ipsum vitae purus undo ipsum primis
                           in cubilia laoreet augue ultrice ligula egestas magna at suscipit lectus gestas magna viverra
                           dolor neque est gravida. Mauris donec ociis magnis sapien etiam sapien sem sagittis
                        </p>

                    </div>


                    <!-- TESTIMONIAL #7 -->
                    <div class="review-1">

                        <!-- Testimonial Author -->
                        <div class="author-data clearfix">

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="{% static 'images/review-author-7.jpg' %}" alt="testimonial-avatar">
                            </div>

                            <!-- Author Data -->
                            <div class="review-author">
                                <h5 class="h5-sm">Evelyn</h5>
                                <span>{% trans '(Austrlia PR Visa)' %}</span>
                            </div>

                        </div>	<!-- End Testimonial Author -->

                        <!-- Testimonial Text -->
                        <p>At sagittis congue augue egestas undo magna ipsum vitae purus ipsum primis in cubilia
                           laoreet augue ociis at nullam tempor sapien gravida porta integer at odio velna auctor.
                           An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis
                           cubilia laoreet augue ultrice ligula egestas
                        </p>

                    </div>


                </div>
            </div>
        </div>	<!-- END TESTIMONIALS CONTENT -->
    </div>	   <!-- End container -->
</section>	 <!-- END TESTIMONIALS-1 -->
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#submitComplaintForm').on('submit', (e) => {
            e.preventDefault();
            $(".loading").fadeIn("slow").html("Loading...");
            const formData = $('#submitComplaintForm').serialize();
            $.ajax({
                type: 'POST',
                url: '',
                data: formData,
                success: (result) => {
                    $('#base-body').empty().append(result);
                }
            });
        });
    });
</script>
{% endblock %}